# =======================
# Environment variables
# =======================
.env
.env.local

# =======================
# Database files
# =======================
app/db/*.db
app/db/*.sqlite

# =======================
# Python
# =======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# =======================
# IDE / Editors
# =======================
.vscode/
.idea/
*.swp
*.swo

# =======================
# Logs and temp files
# =======================
*.log